* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Serif JP, serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 10px 0;
  text-align: right;
  padding-right: 30px;
  margin-left: 120px;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a {
  color: #003e9d;
  text-decoration: none;
  font-size: 20px;
}
nav ul li.active a {
  border-bottom: 3px solid #003e9d;
  transition: color 0.3s, border-color 0.3s;
}
.logo {
  width: 120px;
  cursor: pointer;
}

.contact-button {
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 16px;
  background: #003e9d;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

.hero {
  position: relative;
  text-align: center;
  margin-top: 50px;
}

.achievement-img {
  width: 100%;
  height: auto;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.achieve {
  margin-top: 20px;
}

.list-achivements {
  margin-top: 40px;
  margin-left: 15px;
}

.achievement-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.achievement-row img {
  width: 616px;
  height: 499.17px;
}

.achievement-text {
  margin-top: -115px;
}

.achievement-text ul li {
  padding-top: 20px;
  list-style-type: decimal;
  font-size: 20px;
  color: #626262;
}

.achievement-text h1 {
  font-size: 35px;
  margin: 8px;
  color: #003e9d;
}

.mission {
  margin-top: 100px;
}
.mission h1 {
  font-size: 18px;
  color: #003e9d;
}
.mission-row{
  margin-right: 50px;
}

.heading {
  font-size: 40px;
}

.mission-row img {
  width: 350px;
  height: 240px;
  border-radius: 6px;
}

.mission-row span {
  font-size: 18px;
}
.mission-row h1 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.mission-row p {
  font-size: 18px;
  color: #626262;
}
.missions-list {
  margin-top: 50px;
 

  display: flex;
}

footer{
  background: #003e9d;
 
  padding: 50px 60px;
  color: #fff;
  margin-top: 150px;
 
}

.columns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 40px;
}

.foundation h1{
  margin-bottom: 25px;
  

}

.foundation p {
  line-height: 23px;
}

.links h1{
  margin-bottom: px;
}

.links ul{
  list-style: none;
  margin-top: x;
}

.links ul li{
  margin-top: 20px;
  
}

.links ul li a{
  text-decoration: none;
  color: #fff;
}

.contact h1{
  
}

.contact {
  
}

.contact p{
  margin-top: 25px;

}