* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Serif JP, serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 10px 0;
  text-align: right;
  padding-right: 30px;
  margin-left: 120px;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a {
  color: #003e9d;
  text-decoration: none;
  font-size: 20px;
}
nav ul li.active a {
  border-bottom: 3px solid #003e9d;
  transition: color 0.3s, border-color 0.3s;
}
.logo {
  width: 120px;
  cursor: pointer;
}

.contact-button {
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 16px;
  background: #003e9d;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

.hero-text {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  flex: 1;
}

.hero-text h1 {
  font-size: 50px;
}

.hero-text p {
  margin-top: 60px;
}

.side-text {
  margin-left: 50%;
  margin-bottom: 80px;
}
.side-text p {
  font-size: 24px;
  margin-bottom: 15px;
}
.hero-img {
  width: 500px;
  margin-right: 3000px;
}

.volunteer-btn {
  border: 1px solid #003e9d;
  outline: 0;
  background: transparent;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
.volunteer-btn:hover {
  background: #003e9d;
  color: #fff;
}

.hero-text span {
  color: #003e9d;
}

.about-us {
  display: flex;
  margin-top: 150px;
}

.directors-image img {
  width: 554px;
  height: 568px;
  border-radius: 5px;
}
.executive-heading {
  font-size: 18px;
  margin-bottom: 15px;
  color: #454545;
  margin-top: 50px;
}

.message-text h1 {
  font-size: 40px;
  color: #003e9d;
  margin-top: 30px;
}

.message-text p {
  margin-right: 30px;
  color: #454545;
  line-height: 30px;
  margin-top: 15px;
}

.learn-more {
  border: 1px solid #003e9d;
  outline: 0;
  background: transparent;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 50px;
}

.learn-more:hover {
  background: #003e9d;
  color: #fff;
}

.mission {
  margin-top: 100px;
}
.mission h1 {
  font-size: 18px;
  color: #003e9d;
}
.mission-row {
  margin-right: 50px;
}

.heading {
  font-size: 40px;
}

.mission-row img {
  width: 350px;
  height: 240px;
  border-radius: 6px;
}

.mission-row span {
  font-size: 18px;
}
.mission-row h1 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.mission-row p {
  font-size: 18px;
  color: #626262;
}
.missions-list {
  margin-top: 50px;

  display: flex;
}

.our-plan {
  margin-top: 100px;
}
.our-plan h1 {
  font-size: 18px;
  color: #003e9d;
}

.our-plan span {
  font-size: 18px;
}
.plan-heading {
  font-size: 40px;
}

.workplan-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.workplan-row p {
  font-size: 18px;
  color: #626262;
}

.workplan-text {
  margin-top: 42px;
  margin-right: 270px;
  margin-bottom: 30px;
}

.workplan-text p {
  font-size: 20px;
  margin-bottom: 30px;
}

.workplan-text ul li {
  padding-top: px;
  list-style: none;
  font-size: 20px;
  color: #626262;
}
.workplan-text h1 {
  font-size: 18px;
}

.workplan-row img {
  width: 475.92px;
}

.learn-more {
  margin-top: 30px;
}

.partnership-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.partnership-row h1 {
  font-size: 40px;
  color: #003e9d;
  margin-bottom: 15px;
}
.partnership-row p {
  font-size: 20px;
  color: #626262;
}

.partnership-text {
  margin-left: 330px;
}

.partner-btn {
  border: 1px solid #003e9d;
  outline: 0;
  background: transparent;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 30px;
}

.partner-btn:hover {
  background: #003e9d;
  color: #fff;
}
.gallery {
  margin-top: 150px;
}

.gallery-heading {
  font-size: 40px;
  color: #454545;
}

.gallery h1 {
  font-size: 18px;
  color: #454545;
}

.gallery span {
  font-size: 18px;
  color: #454545;
}

.pictures-btn {
  border: 1px solid #003e9d;
  outline: 0;
  background: transparent;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 50px;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pictures-btn:hover {
  background: #003e9d;
  color: #fff;
}

footer {
  background: #003e9d;

  padding: 50px 60px;
  color: #fff;
  margin-top: 150px;
}

.columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 40px;
}

.foundation h1 {
  margin-bottom: 25px;
}

.foundation p {
  line-height: 23px;
}

.links h1 {
  margin-bottom: px;
}

.links ul {
  list-style: none;
  margin-top: x;
}

.links ul li {
  margin-top: 20px;
}

.links ul li a {
  text-decoration: none;
  color: #fff;
}

.contact p {
  margin-top: 25px;
}

.our-strategies-img {
  width: 616px;
  height: 499.17px;
}

.hero {
  position: relative;
  text-align: center;
  margin-top: 50px;
}

.achievement-img {
  width: 100%;
  height: auto;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.achieve {
  margin-top: 20px;
}

.list-achivements {
  margin-top: 40px;
  margin-left: 15px;
}

.achievement-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.achievement-row img {
  width: 616px;
  height: 499.17px;
}

.achievement-text {
  margin-top: -115px;
}

.achievement-text ul li {
  padding-top: 20px;
  list-style-type: decimal;
  font-size: 20px;
  color: #626262;
}

.achievement-text h1 {
  font-size: 35px;
  margin: 8px;
  color: #003e9d;
}

.partner-image {
  width: 475.92px;
  height: 300px;
}
