* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Serif JP, serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
 
 
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 10px 0;
  text-align: right;
  padding-right: 30px;
  margin-left: 120px;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a {
  color: #003e9d;
  text-decoration: none;
  font-size: 20px;
}
nav ul li.active a {
  border-bottom: 3px solid #003E9D;
  transition: color 0.3s, border-color 0.3s;
}
.logo {
  width: 120px;
  cursor: pointer;
}

.contact-button {
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 16px;
  background: #003e9d;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

.hero-text {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  flex: 1;
}

.hero-text h1 {
  font-size: 50px;
}

.hero-text p {
  margin-top: 60px;
}

.side-text {
  margin-left: 50%;
  margin-bottom: 80px;
}
.side-text p {
  font-size: 24px;
  margin-bottom: 15px;
}
.hero-img {
  width: 500px;
  margin-right: 3000px;
}

.volunteer-btn {
  border: 1px solid #003e9d;
  outline: 0;
  background: transparent;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
.volunteer-btn:hover {
  background: #003e9d;
  color: #fff;
}

.hero-text span {
  color: #003e9d;
}
